.transparentBottom {
  border-bottom: transparent;
}

.groupContainer {
  background-color: var(--white);
  @media only screen and (min-width: 768px) {
    margin-right: -1px;
    display: flex;
    flex-wrap: wrap;
  }
}

.headerMetricClass {
  border: 1px solid var(--light-gray);
  margin: -1px -1px 0 -1px;
  @media only screen and (min-width: 768px) {
    margin: -1px 0 0 -1px;
  }
}

.metricContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.metricIconAndMainMetric {
  display: flex;
  align-items: center;
  gap: 16px;
}

.changeMetric {
  display: flex;
  align-items: center;
  margin-right: 8px;
  gap: 8px;
  font-size: 12px;
}

.noCursor {
  cursor: default;
}

.divider {
  width: 1px;
  height: 16px;
  background-color: var(--medium-purple);
}

.iconPurple svg path {
  fill: var(--purple);
}

.iconBlue svg path {
  fill: var(--blue);
}

.iconDarkRed svg path {
  fill: var(--dark-red);
}

.iconDarkGreen svg path {
  fill: var(--dark-green);
}

.fontPurple {
  color: var(--purple);
}

.fontBlue {
  color: var(--blue);
}

.fontDarkRed {
  color: var(--dark-red);
}

.fontDarkGreen {
  color: var(--dark-green);
}

.fs12 {
  font-size: 12px;
}

.fs16 {
  font-size: 16px;
}

.fs18 {
  font-size: 18px;
}

.fwSemibold {
  font-weight: var(--font-weight-semibold);
}

.mainActionContainerWithLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainActionContainerWithoutLink {
  display: flex;
  align-items: flex-start;
}

.mainAction {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.labelContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.headerMetricContainer {
  padding: 16px;
}

.mainActionContainer {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}

.statsContainer {
  display: flex;
  gap: 16px;
}

.none {
  display: none;
}

.noChangeValue {
  display: flex;
  align-items: center;
  gap: 8px;
}
