.row {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 8px;
  align-items: center;
}

.fonts {
  grid-template-columns: 125px 1fr;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px;
}
