.popover-toggle {
  width: 100%;
  position: relative;
  .select-box {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-xs);
    @include border-radius;
    color: var(--purple);
    margin: 0px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }
  .selected-text {
    font-size: var(--font-size-xs);
    @media only screen and (max-width: $breakpoint-sm-max) {
      /* CSS specific to iOS devices */
      @supports (-webkit-touch-callout: none) {
        font-size: 16px;
      }
    }
  }
  .left-icon {
    margin-right: 10px;
  }
  .carat {
    width: 10px;
    @include transition;
    svg path {
      fill: var(--purple);
    }
  }
  .up .carat {
    transform: rotate(-180deg);
  }

  ////////////////////////////////////////////////////////////
  // specific to select dropdowns
  ////////////////////////////////////////////////////////////
  &.select {
    color: var(--purple);
    border-color: var(--medium-gray);
    &.focus {
      .select-box {
        color: var(--dark-purple);
        border-color: var(--blue);
      }
    }
    &.error {
      border-color: var(--red);
      .select-box {
        color: var(--red);
        border-color: var(--red);
      }
      svg path {
        fill: var(--red);
      }
    }
    &.disabled {
      label {
        color: var(--medium-gray);
      }
      .select-box {
        cursor: default;
        border-color: var(--light-gray);
        background-color: var(--faint-gray);
        .selected-text {
          color: var(--medium-gray);
          cursor: text;
        }
        svg path {
          fill: var(--medium-gray);
        }
      }
    }
    .select-box {
      border: solid 1px var(--medium-gray);
      font-weight: var(--font-weight-regular);
      @include border-radius;
      margin: 0px;
      padding: 8px;
      width: calc(100% - 18px);
      height: 20px;
      outline: none;
      cursor: pointer;
    }
    .up .carat {
      transform: rotate(-180deg);
    }
  }
}
