.primaryActionButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  box-shadow: 0px 2px 2px 0 var(--button-shadow-color);
  border-radius: 1000px;
}

.actionRow {
  display: flex;
  gap: 16px;
  font-size: var(--font-size-xs);
  transition: color 0.25s ease-in-out;
  align-items: center;
  svg path {
    transition: fill 0.25s ease-in-out;
  }
  &:hover {
    color: var(--purple);
    svg path {
      fill: var(--purple);
    }
  }
  &[disabled] {
    color: var(--medium-purple);
    svg path {
      fill: var(--medium-purple);
    }
  }
}

.popover {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.iconMediumPurple svg path {
  fill: var(--medium-purple);
}

.iconDarkPurple svg path {
  fill: var(--dark-purple);
}
