button.fab {
  @include border-radius(100px);
  @include box-shadow(0px, 3px, 6px);
  min-width: inherit;
  width: 50px;
  height: 50px;
  background: var(--green);
  padding: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  bottom: 20px;
  &.left {
    left: 20px;
  }
  &.right {
    right: 20px;
  }
  &.blue {
    background: var(--blue);
  }
  &.dark {
    background: var(--dark-purple);
  }
  &.gray {
    background: var(--purple);
  }
  &.red {
    background: var(--red);
  }
  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15px;
    width: 20px;
    z-index: 999;
    span {
      height: 2px;
      width: 100%;
      background: var(--white);
      display: block;
      @include border-radius;
      &:nth-child(2) {
        width: 65%;
      }
    }
  }

  @media only screen and (min-width: $breakpoint-md) {
    &.left {
      left: 136px;
    }
    &.right {
      right: 64px;
    }
  }

  @media only screen and (min-width: $breakpoint-md) {
    &.left {
      left: 376px;
    }
  }
}
