.autocompleteOption:hover {
  background: var(--light-purple);
  padding: 8px;
}

.headerRender {
  background-color: var(--faint-gray);
}

.noOptionsWrapper {
  padding: 8px;
  font-size: 14px;
}

.optionsStyle {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fontSize14 {
  font-size: 14px;
}
