.select-value {
  position: relative;
  .dropdown-item {
    padding: 0 8px;
    line-height: 36px;
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-regular);
    display: flex;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
    @include transition;
    &.highlighted {
      z-index: 1;
      padding: 8px 20px;
      background-color: var(--lighter-gray);
      font-weight: var(--font-weight-semibold);
      font-size: var(--font-size-p);
      position: absolute;
      bottom: -50px;
      left: -1px;
      right: -1px;
      border: 1px solid var(--light-gray);
      @include box-shadow(0px, 3px, 6px);
      white-space: nowrap;
      @include border-radius(0 0 4px 4px);
    }
    &.selected {
      bottom: -50px;
    }
    &.restricted,
    &.disabled {
      pointer-events: none;
      background: var(--light-gray) !important;
      opacity: 0.6;
    }
    .custom-h1 {
      font-size: $font-size-p !important;
      line-height: var(--line-height-dropdown-active);
      margin: 0px;
      .header-with-underline {
        padding-bottom: 2px;
        line-height: var(--line-height-dropdown-active);
        &::after {
          height: 2px;
        }
      }
    }
  }
  .dropdown-options-container {
    overflow-y: scroll;
    max-height: 200px;
    min-height: 24px;
    @include border-radius;
    &:before {
      content: '';
      width: calc(100% - 2px);
      height: 20px;
      position: absolute;
      background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        var(--white) 100%
      );
      background: linear-gradient(
        to bottom,
        var(--white) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      left: 1px;
    }
    &.options-loader {
      width: 340px;
      height: 200px;
      position: relative;
      .loading-container {
        height: 100%;
        top: unset;
      }
    }
    &.extra-space {
      border-top: 10px solid var(--white);
    }
    div {
      &.group-header-wrapper {
        display: flex;
        padding: 6px 0px;
        position: sticky;
        top: 0;
        z-index: 1;
        background: var(--lighter-gray);
        .group-header {
          padding: 4px 0 4px 8px;
          color: var(--purple);
          font-size: var(--font-size-xs);
          font-weight: var(--font-weight-bold);
        }
      }
    }
    li {
      &.secondary-val-and-item-link {
        display: grid;
        grid-template-columns: 350px auto auto;
        .dropdown-option-value {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .dropdown-option-secondary-value {
          display: flex;
          align-items: center;
          color: var(--purple);
          &.after {
            padding-right: 16px;
            font-size: var(--font-size-xxs);
          }
        }
        .dropdown-item-link {
          &.after {
            border-left: 1px solid var(--light-gray);
            padding-left: 16px;
          }
          height: 100%;
          display: flex;
          align-items: center;
          color: var(--blue);
          font-size: var(--font-size-xxs);
        }
      }
      &.highlighted-row {
        background: var(--light-blue);
      }

      &.has-secondary-value {
        display: grid;
        grid-gap: 16px;
        .dropdown-option-value {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .dropdown-option-secondary-value {
          height: 100%;
          display: flex;
          align-items: center;
          color: var(--purple);
          font-size: var(--font-size-xxs);
        }
        &:not(.no-divider-line) {
          grid-template-columns: 350px auto auto;
          .dropdown-option-secondary-value {
            &.after {
              border-left: 1px solid var(--light-gray);
              padding-left: 16px;
            }
            &.before {
              border-right: 1px solid var(--light-gray);
              padding-right: 8px;
            }
          }
        }
        &.no-divider-line {
          grid-template-columns: auto auto;
          .dropdown-option-secondary-value {
            justify-content: flex-end;
          }
        }
      }

      &.has-section-group {
        display: grid;
        grid-template-columns: 350px auto auto;
        grid-gap: 16px;
        &.no-view-item {
          display: block;
        }
        .dropdown-option-value {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .dropdown-option-secondary-value {
          height: 100%;
          display: flex;
          align-items: center;
          color: var(--purple);
          font-size: var(--font-size-xxs);
        }
        .dropdown-option-secondary-value:empty {
          padding-right: 55px;
        }
        .dropdown-item-link {
          color: var(--blue);
          font-size: var(--font-size-xxs);
          &.before {
            border-left: 1px solid var(--light-gray);
            padding-left: 16px;
            padding-right: 8px;
          }
        }
      }
    }
    @media only screen and (min-width: $breakpoint-xxl) {
      max-height: 280px;
    }
  }
  .dropdown-box.company.mobile-popover {
    height: calc(var(--100vh) - 52px);
    width: calc(100vw - 5px);
    top: -22px;
    &::after,
    &::before {
      content: none;
    }
    &.right {
      right: -150px;
    }
    .dropdown {
      padding: 0px;
    }
    .dropdown-search-item-wrapper {
      position: sticky;
      padding: 0 10px;
    }
    .dropdown-options-container {
      max-height: 80vh;
      padding: 0 10px;
    }
    .dropdown-options-container.options-loader {
      height: 75vh;
      width: calc(100vw - 5px);
    }
    .dropdown-options-container li.has-section-group {
      grid-template-columns: 1fr auto auto;
    }
    .mobile-popover-header {
      position: sticky;
      top: 0;
      padding: 10px 16px;
      height: 40px;
      background: var(--lighter-gray);
      border-bottom: 1px solid var(--light-gray);
      font-weight: var(--font-weight-semibold);
      align-items: center;
      font-size: var(--font-size-p);
    }
  }
}

// Available for Select and MultiSelect
.dropdown-search-item-wrapper {
  position: sticky;
  background-color: var(--white);
  background: var(--white-gradient-color);
}

// TODO: Clean this up when SearchBar is implemented in Select
.dropdown-search-item {
  margin: 16px 2px 6px;
  .search-icon {
    position: absolute;
    top: 12px;
    left: 10px;
    svg path {
      fill: var(--purple);
    }
  }
  .clear-button {
    top: 8px;
  }
  .dropdown-search {
    padding-left: 32px;
    width: calc(100% - 84px);
    padding-right: 50px;
  }
}

.dropdown-search {
  border: 1px solid var(--medium-gray); // remove inset box shadow
  width: calc(100% - 2px);
  height: 35px;
  @include border-radius;
  font-size: var(--font-size-p);
  outline: none;
  padding: 0px;
}
//////////////////////////////////////
