////////////////////////////////////////////////////////////
// Text Input Styles
////////////////////////////////////////////////////////////

.text-input {
  input,
  textarea,
  .input-prefix,
  .input-suffix {
    @media only screen and (max-width: $breakpoint-sm-max) {
      /* CSS specific to iOS devices */
      @supports (-webkit-touch-callout: none) {
        font-size: 16px;
      }
    }
    font-size: var(--font-size-input);
    border: var(--medium-purple) solid 1px;
    @include font-family;
    @include border-radius;
    // updated to match prototype design
    height: 22px;
    width: calc(100% - 18px);
    font-weight: var(--font-weight-light);
    padding: 8px;
    outline: none;
    @include transition;
    color: var(--dark-purple);
    &:focus {
      border-color: var(--blue);
    }
    &.error {
      border-color: var(--red);
    }
    &.input-width {
      width: var(--input-width);
    }
  }
  textarea {
    // updated to match prototype design
    height: 62px;
    resize: none;
  }
  .input-container {
    position: relative;
    &.has-label {
      input {
        padding-right: var(--input-label-width);
        width: calc(100% - (10px + var(--input-label-width)));
      }
    }
    .input-label {
      font-size: 12px;
      position: absolute;
      top: 50%;
      bottom: 0px;
      transform: translate(0, -50%);
      right: 8px;
      background: var(--white);
      font-weight: lighter;
      height: max-content;
    }
  }

  .clear-button {
    position: absolute;
    top: 12px;
    right: 8px;
    font-size: var(--font-size-xxs);
    color: var(--purple);
    @include transition;
    &:hover {
      cursor: pointer;
      color: var(--dark-purple);
    }
  }

  .end-text {
    -webkit-appearance: none !important;
    flex: 1 1 auto;
    margin: 0 0 0 -7px;
    background: white;
    border-start-start-radius: 0;
    border-end-start-radius: 0;
    border-left: none;
    color: var(--purple);
    &.focus {
      color: var(--blue);
      border-color: var(--blue);
    }
  }
  .end-input {
    -webkit-appearance: none !important;
    outline: none;
    flex: 1 1 auto;
    border-end-end-radius: 0;
    border-start-end-radius: 0;
    border-right: none;
  }

  .currency-input {
    // To Hide the input number arrows
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    @extend input;
    @include border-radius(0 4px 4px 0);
    border-left: none;
  }

  .input-prefix-suffix {
    // Width 30px is used to make UI match with the designs
    width: 30px;
    background: var(--lighter-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    @include border-radius(4px 0 0 4px);
  }

  .input-prefix {
    @extend .input-prefix-suffix;
    border-right: none;
    // these overrides are for the currency input
    width: 60px;
    padding: 8px 0;
    font-size: 12px;
  }

  .input-suffix {
    @extend .input-prefix-suffix;
    border: none;
    position: absolute;
    top: 1px;
    right: 1px;
    @include border-radius(0 4px 4px 0);
  }

  .prefix-active {
    border-color: var(--blue);
  }

  .prefix-error {
    border-color: var(--red);
  }
}

////////////////////////////////////////////////////////////
// Do we want the ability to resize textareas?
////////////////////////////////////////////////////////////
