.multiselect-container {
  &.dropdown-box {
    width: auto;
    &.select {
      min-width: 100%;
    }
    .dropdown {
      padding: 0;
      max-height: unset;
    }
  }
  .select-box .selected-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .checkbox {
    &.grid {
      grid-template-columns: 1fr auto;
      align-items: center;
    }
  }
  .dropdown .checkbox-container {
    max-height: 270px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--purple);
      border-radius: 4px;
    }
  }
}

.filters-container .filter-wrapper .filter-body {
  .multiselect-container {
    .dropdown {
      padding: 0;
    }
  }
}

.multiselect-second-value {
  width: 500px;
}

.message-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
