.standard-list {
  .list {
    margin: 0px;
    padding: 0px;
  }
  .title {
    color: var(--purple);
    margin-bottom: 0px;
  }
  li {
    border-bottom: solid var(--light-gray) 1px;
    padding: 12px 8px;
    list-style-type: none;
    &:last-child {
      transition: none;
      border-bottom-color: transparent;
    }
  }
  .dropdown li {
    border: none;
  }
}
