.alert {
  border-radius: 4px;
  font-weight: var(--font-weight-semibold);
  border: 1px solid;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.closeButton {
  opacity: 0.7;
  transition: 0.25s opacity ease-in-out;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}

.alert--error {
  color: var(--red);
  background: var(--light-red);
  border-color: var(--red);
}
.alert--info {
  color: var(--blue);
  background: var(--light-blue);
  border-color: var(--blue);
}
.alert--warning {
  color: var(--dark-yellow);
  background: var(--light-yellow);
  border-color: var(--dark-yellow);
}
.alert--success {
  color: var(--green);
  background: var(--light-green);
  border-color: var(--green);
}

.confirmationContainer :global {
  padding: 0;
}

.redArrow:global(.tippy-box[data-placement^='bottom'] .tippy-arrow:after) {
  border-bottom: 11px solid var(--red);
}

.greenArrow:global(.tippy-box[data-placement^='bottom'])
  :global(.tippy-arrow:after) {
  border-bottom: 11px solid var(--green);
}

.blueArrow:global(.tippy-box[data-placement^='bottom'])
  :global(.tippy-arrow:after) {
  border-bottom: 11px solid var(--blue);
}
