.confirmation-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  &.default {
    @include border-radius;
    .confirmation {
      color: var(--purple);
      span.confirm-icon {
        svg path {
          fill: var(--purple);
        }
      }
    }
  }
  .confirmation-bg {
    position: absolute;
    z-index: -1;
    background: var(--light-gray);
    width: 200px;
    height: 100px;
    @include border-radius;
    @include transition;
    &.success {
      background: var(--green);
    }
    &.info {
      background: var(--blue);
    }
    &.error {
      background: var(--red);
    }
    &.info-orange {
      background: var(--orange);
    }
    &.zoomIn {
      width: 100%;
      height: 100%;
      @include transition(1.25s);
    }
  }
  .confirmation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--white);
    position: relative;
    height: 100%;
    width: 100%;
    // Leaving this alone because the Confirmation component is being deprecated and will have no need for component encapsulation.
    span.confirm-icon {
      @include prefix(transform, scale3d(0.4, 0.4, 0.4));
      @include transition(0.2s);
      svg {
        width: 88px;
        height: 88px;
        path {
          fill: var(--white);
        }
      }
    }
    .loading {
      margin: 0;
    }
    .loading-1,
    .loading-2 {
      margin-right: 16px;
    }
  }
}
