.Toastify__toast {
  border: 1px solid;
  border-radius: 4px;
  font-weight: var(--font-weight-semibold);
  font-family: 'Montserrat', sans-serif;
  min-height: auto;
  @include box-shadow(0, 4px, 8px, 0, var(--button-shadow-color));
  cursor: default;
  gap: 16px;
  padding: 16px;
  align-items: flex-start;
  .Toastify__toast-icon {
    display: none;
  }
  .x {
    position: relative;
    top: 2px;
    cursor: pointer;
    opacity: 0.7;
    @include transition;
    &:hover {
      opacity: 1;
    }
  }
}
.Toastify__toast-container {
  width: auto;
  .Toastify__toast-body {
    margin: 0;
    padding: 0;
  }
}
.Toastify__toast--info {
  color: var(--blue);
  background: var(--light-blue);
  border-color: var(--blue);
  .x svg path {
    fill: var(--blue);
  }
}
.Toastify__toast--success {
  color: var(--green);
  background: var(--light-green);
  border-color: var(--green);
  .x svg path {
    fill: var(--green);
  }
}
.Toastify__toast--warning {
  color: var(--dark-yellow);
  background: var(--light-yellow);
  border-color: var(--dark-yellow);
  .x svg path {
    fill: var(--dark-yellow);
  }
}
.Toastify__toast--error {
  color: var(--red);
  background: var(--light-red);
  border-color: var(--red);
  .x svg path {
    fill: var(--red);
  }
}

.toast-list {
  max-height: 500px;
  overflow-y: auto;
  line-height: 18px;
  padding: 0 14px;
}

@media only screen and (max-width: $breakpoint-sm-max) {
  .Toastify__toast-container {
    width: 90%;
    top: 20px;
    transform: translateX(-50%);
    left: 50%;
  }
  .Toastify__toast {
    margin-bottom: 20px;
  }
}
