/////////////////////////////////////////////////////

@include keyframes(fadeOutUp) {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

/////////////////////////////////////////////////////

@include keyframes(fadeInDown) {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/////////////////////////////////////////////////////

@include keyframes(fadeInDownBig) {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/////////////////////////////////////////////////////

@include keyframes(fadeInUp) {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/////////////////////////////////////////////////////

@include keyframes(fadeOutDown) {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(100px);
  }
}

/////////////////////////////////////////////////////

@include keyframes(fadeOut) {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

/////////////////////////////////////////////////////

@include keyframes(fadeIn) {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

/////////////////////////////////////////////////////

@include keyframes(drawDash) {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/////////////////////////////////////////////////////

@include keyframes(removeDash) {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1000;
  }
}

/////////////////////////////////////////////////////

@include keyframes(fadeInOpacity) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/////////////////////////////////////////////////////

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@include keyframes(bounceOut) {
  0%,
  100% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
}

/////////////////////////////////////////////////////

@include keyframes(zoomIn) {
  from {
  }
  to {
    -webkit-transform: scale3d(10, 10, 10);
    transform: scale3d(10, 10, 10);
  }
}

/////////////////////////////////////////////////////

@include keyframes(fadify) {
  0%,
  100% {
    opacity: 1;
  }
  85% {
    opacity: 0.85;
  }
  70% {
    opacity: 0.7;
  }
  55% {
    opacity: 0.55;
  }
  40% {
    opacity: 0.4;
  }
}

/////////////////////////////////////////////////////

@include keyframes(fullWidth) {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/////////////////////////////////////////////////////

.grow {
  @include prefix(transform, scale3d(1, 1, 1) !important);
}
