// Grid
.grid {
  display: grid;
  grid-gap: 0 32px;
  .grid {
    margin: 0;
  }
}
$colNumbers: 1 2 3 4;
@each $num in $colNumbers {
  .col-#{$num} {
    @include grid-columns($num);
  }
}

$--grid-cols: 1;

.grid-col {
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

// Text Alignment
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.mobile-only {
  @media only screen and (min-width: $breakpoint-md) {
    display: none !important;
  }
}

//FLEX
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-direction-column {
  flex-direction: column;
}

// Content Alignment
.align-items-center {
  align-items: center;
}
.align-items-flex-start {
  align-items: flex-start;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.align-self-center {
  align-self: center;
}
.justify-self-center {
  justify-self: center;
}

.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}

.max-content-width {
  width: max-content;
}
.max-content-height {
  height: max-content;
}

.white-space-nowrap {
  white-space: nowrap;
}

// Position
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.sticky {
  @include prefix(position, sticky);
  position: -webkit-sticky;
}
