.button {
  position: fixed;
  bottom: -2px;
  left: 20px;
  z-index: 9999;
  transition: 0.25s top ease-in-out;
  @media only screen and (min-width: 768px) {
    bottom: unset;
    top: -16px;
    left: 92px;
    &:hover {
      top: -1px;
    }
  }
}
