@import '../../scss/base/variables';

.container {
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  @media only screen and (min-width: $breakpoint-md) {
    max-width: 300px;
  }
}

.header {
  height: 64px;
  padding: 0 16px;
  background: var(--faint-gray);
  border-bottom: 1px solid var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px 4px 0 0;
}

.imageAndNameContainer {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  .productName {
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-lightbold);
    text-align: center;
  }
  .link {
    color: var(--blue);
    transition: 0.25s ease-in-out color;
    &:hover {
      color: var(--dark-blue);
    }
  }
}

.section {
  padding: 16px;
  display: grid;
  justify-content: center;
  gap: 16px;
  &.twoColumns {
    grid-template-columns: repeat(2, 1fr);
  }
  .labelAndData {
    text-align: center;
  }
  .oddNumber {
    grid-column: 1 / 3;
  }
}

.divider {
  height: 1px;
  width: 100%;
  background: var(--light-gray);
}

.offset {
  margin-top: -32px; // -16px for the top padding and -16px offset into the section above
}

.iconColor svg path {
  fill: var(--purple);
}
