.inlineMultiSelect {
  border: 1px solid var(--medium-purple);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // UX design requirements determined the max-height
  max-height: 300px;
  border-radius: 4px;
  position: relative;
  &.noBorder {
    border: none;
  }
  &.noOverflow {
    max-height: none;
  }
}

.searchContainerPadding {
  padding: 8px 8px 0 8px;
}

.list {
  overflow-y: auto;
  margin-bottom: auto;
  padding: 8px;
}

.header {
  font-size: var(--font-size-xxs);
  background-color: var(--light-purple);
  font-weight: var(--font-weight-bold);
  padding: 0 8px;
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  color: var(--purple);
  height: 24px;
}

.checkbox {
  // Using 14px as per design requirements
  margin: 14px 0;
  &:first-of-type {
    margin-top: 0;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}

.checkboxLabel {
  font-size: var(--font-size-xs);
  color: var(--dark-purple);
  // 18px helps to align the text with the checkbox
  line-height: 18px;
}

.selectAll {
  padding: 8px;
  background-color: var(--lighter-gray);
  border-radius: 0 0 4px 4px;
  position: relative;
  z-index: 10;
  button {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-regular);
  }
}

.gradient {
  position: absolute;
  left: 0;
  right: 0;
  background-color: var(--white);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255) 100%
  );
  z-index: 1;
  // 12px fits the design requirements
  height: 12px;
}

.topGradient {
  @extend .gradient;
  top: 48px;
}

.bottomGradient {
  @extend .gradient;
  bottom: 40px;
  transform: rotate(180deg);
  &.adjustForExposed {
    bottom: 32px;
  }
}
