$main-color: var(--white);
$carat: var(--medium-purple);
$text-color: var(--dark-purple);

.predict-tooltip-container {
  position: relative;
  cursor: pointer;
  &:hover {
    .tooltip-content {
      visibility: visible;
    }
  }
  &.white {
    $main-color: var(--white) !global;
  }
  &.gray {
    $main-color: var(--lighter-gray) !global;
  }
  .tooltip-content {
    position: absolute;
    visibility: hidden;
    border: 1px solid $carat;
    border-radius: 4px;
    background: $main-color;
    width: 25vw;
    color: $text-color;
    font-size: $font-size-p;
    max-width: 500px;
    padding: 8px;
    z-index: 9;
    opacity: 1;
    @include box-shadow(0, 3px, 6px);
    &::after,
    &::before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      @include transition(0.25s, left);
    }
    &.bottom {
      top: 32px;
      left: 50%;
      transform: translate(-50%);
      &::after {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid $main-color;
        left: calc(50% - 5.5px);
        top: -8px;
      }
      &::before {
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 9px solid $carat;
        left: calc(50% - 6.5px);
        top: -9px;
      }
    }
    &.top {
      bottom: 32px;
      left: 50%;
      transform: translate(-50%);
      &::after {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid $main-color;
        left: calc(50% - 5.5px);
        bottom: -8px;
      }
      &::before {
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-top: 9px solid $carat;
        left: calc(50% - 6.5px);
        bottom: -9px;
      }
    }
    &.left {
      top: calc(55% - var(--tooltip-height));
      left: calc(-16px - var(--tooltip-width));
      &::after {
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 8px solid $main-color;
        top: calc(50% - 8px);
        right: -8px;
      }
      &::before {
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
        border-left: 9px solid $carat;
        top: calc(50% - 9px);
        right: -9px;
      }
    }
    &.right {
      top: calc(55% - var(--tooltip-height));
      right: calc(-16px - var(--tooltip-width));
      &::after {
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 8px solid $main-color;
        top: calc(50% - 8px);
        left: -8px;
      }
      &::before {
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
        border-right: 9px solid $carat;
        top: calc(50% - 9px);
        left: -9px;
      }
    }
  }
}
