.buttonStyle {
  display: flex;
  align-items: center;
}

.marginLeft {
  margin-left: 8px;
}

.sideDrawerFooter {
  @extend .buttonStyle;
  justify-content: space-between;
}

.secondaryLabelText {
  @extend .sideDrawerFooter;
}

.buttonMarginLeft {
  margin-left: 16px;
}

.iconStyle {
  margin-right: 8px;
  svg path {
    fill: var(--purple);
  }
}

.filterMenuStyle {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filterDatesStyle {
  display: flex;
  font-size: 12px;
  margin-bottom: 8px;
  font-weight: var(--font-weight-light);
  color: var(--purple);
}

.customClickText {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
