.container {
  padding: 0 16px;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xs);
  color: var(--dark-purple);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  text-transform: uppercase;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid var(--light-gray);
  height: 48px;
  &.noBorderRadius {
    border-radius: 0;
  }
}

.headerTextContainer {
  display: flex;
  gap: 8px;
  align-items: center;
}

.lighter-gray {
  background: var(--lighter-gray);
}

.red {
  background: var(--red);
}

.blue {
  background: var(--blue);
}

.green {
  background: var(--green);
}

.red,
.blue,
.green {
  color: var(--white);
}

.logo {
  height: 24px;
}

// The following is a workaround because the Icon styles gets built after these styles so they are not applied correctly. Using :global in these cases is necessary.
.whiteIcon:global(.popover-header-icon svg path) {
  fill: var(--white);
}

.purpleIcon:global(.popover-header-icon svg path) {
  fill: var(--purple);
}
