.infoIcon {
  svg path {
    fill: var(--blue);
  }
  &.standard svg {
    width: 30px;
    height: 30px;
  }
  &.sm svg {
    width: 17px;
    height: 17px;
  }
  &.xs svg {
    width: 12px;
    height: 12px;
  }
}

.infoTooltipContent {
  &.withImage {
    display: grid;
    grid-template-columns: auto 375px;
    grid-gap: 16px;
  }
  p:last-of-type {
    margin: 0;
  }
}
