.fakeLinesContainer {
  display: flex;
  justify-content: space-between;
}

.sectionWave {
  position: relative;
  width: calc(100% - 40px);
  top: 43%;
  transform: translate(0%, -50%);
}

.line {
  width: 100%;
  border-bottom: 1px solid var(--medium-gray);

  &:last-child {
    border-bottom: 2px solid var(--medium-gray);
  }
}
.fakeLines {
  position: absolute;
  left: 0;
  width: calc(100% - 40px);
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.xTick {
  width: 40px;
  height: 20px;
  border-radius: 4px;
  animation-duration: 1s;
  background: var(--medium-gray);
}
.fakeXaxisBoxes {
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 7%;
  justify-content: space-between;
}
.yTick {
  width: 20px;
  height: 10px;
  border-radius: 2px;
  animation-duration: 1s;
  background: var(--medium-gray);
}
.fakeYaxisBoxes {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  margin-top: -5px;
  right: 0;
}
.main {
  padding: 0 0 20px 0;
  position: relative;
}
.dash {
  animation: dash 2s linear infinite;
  stroke: var(--purple);
}
.graphLoadingContainer {
  padding: 16px 16px 0px 16px;
}
@keyframes dash {
  0% {
    stroke: var(--purple);
    transform: translateX(-490px);
  }

  50% {
    stroke: var(--light-gray);
  }

  100% {
    stroke: var(--purple);
    transform: translateX(0px);
  }
}
