.loader {
  background: var(--blue);
  width: 200px;
  height: 100px;
  @include border-radius;
  @include transition(0.2s);
}

.loading {
  background: var(--white);
  @include border-radius(100%);
  float: left;
  height: 16px;
  width: 16px;
  margin: 42px 8px 0 8px;
}

.loading-1 {
  margin-left: 60px;
  -webkit-animation: bounceOut 1.4s infinite;
  -webkit-animation-delay: 0.2s;
}

.loading-2 {
  -webkit-animation: bounceOut 1.4s infinite;
  -webkit-animation-delay: 0.4s;
}

.loading-3 {
  -webkit-animation: bounceOut 1.4s infinite ease;
  -webkit-animation-delay: 0.6s;
}
