.container {
  position: relative;
}

.searchIcon {
  position: absolute;
  // 11px here to keep the correct spacing on the left of the search icon - design requirements
  left: 11px;
  // 12px here to vertically center the search icon
  top: 12px;
  z-index: 1;
  svg path {
    fill: var(--purple);
  }
}

.buttonForXIcon {
  position: absolute;
  // 1px here to keep the correct spacing on the right of the x icon - design requirements
  right: 1px;
  // 5px here to vertically center the x icon
  top: 5px;
  // 30px for width and height to give more clickable space around the x icon
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.xIcon {
  svg path {
    transition: 0.25s fill ease-in-out;
    fill: var(--purple);
  }
  &:hover svg path {
    fill: var(--dark-purple);
  }
  &.focused {
    svg path {
      fill: var(--blue);
    }
  }
}

input.input {
  width: calc(100% - 72px);
  max-width: 100%;
  text-overflow: ellipsis;
  // This gives room for both of the icons to be visible inside of the text input
  padding: 8px 36px;
  &.hasText {
    text-overflow: inherit;
  }
}
