@import '~react-dates/lib/css/_datepicker.css';
@import '../../scss/base/mixins';
@import '../../scss/base/variables';

.datepicker {
  &:global(.right) {
    :global(.DateRangePicker_picker),
    :global(.SingleDatePicker_picker) {
      &::after,
      &::before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        @include transition(0.25s, left);
      }
      &::after {
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 11px solid var(--white);
        left: var(--caretOffsetAfter);
        top: -10px;
      }
      &::before {
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid var(--medium-purple);
        left: var(--caretOffsetBefore);
        top: -11px;
      }
    }
    &:not(.vertical) {
      :global(.DateRangePicker_picker) {
        &::after {
          left: calc(var(--caretOffsetAfter) + 250px) !important;
        }
        &::before {
          left: calc(var(--caretOffsetBefore) + 250px) !important;
        }
      }
    }
    :global(.SingleDatePicker_picker) {
      &::before {
        left: 23px !important;
      }
      &::after {
        left: 24px !important;
      }
    }
  }
  :global(.DayPickerNavigation_button) {
    position: absolute;
    border: 0;
    padding: 0 13px;
    height: inherit;
    top: 23px;
    background: var(--white);
    left: 22px;
    svg path {
      fill: var(--blue);
    }

    & + :global(.DayPickerNavigation_button) {
      left: unset;
      right: 22px;
    }
  }
  button {
    min-width: inherit;
    &:global(.DateRangePickerInput_calendarIcon.DateRangePickerInput_calendarIcon_1) {
      right: -37px;
      position: relative;
    }
    &:global(.SingleDatePickerInput_calendarIcon.SingleDatePickerInput_calendarIcon_1) {
      right: 0px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
    }
    &:global(.DateRangePickerInput_clearDates) {
      background: var(--white);
      height: 24px;
      padding: 0px 16px;
      font-size: var(--font-size-xs);
      border: 1px solid var(--purple);
      color: var(--purple);
      @include border-radius(1000px);
      z-index: 10;

      &:hover,
      &:active {
        background: var(--medium-purple);
        border-color: var(--medium-purple);
        color: var(--dark-purple);
        @include box-shadow;
      }
      &:active {
        @include box-shadow(
          $top: 2px,
          $radius: 0px,
          $inset: inset,
          $color: var(--purple)
        );
      }
    }
  }
  :global(.DateRangePickerInput),
  :global(.SingleDatePickerInput) {
    @include transition;
    border: 1px solid var(--medium-purple);
    @include border-radius;
    padding-right: 40px;
    input {
      @include font-family;
      font-weight: var(--font-weight-light);
      color: var(--purple);
      padding: 0 0 0 22px;
      // updated to match prototype design
      height: 40px;
      font-size: var(--font-size-input);
      width: calc(100% - 35px);
      cursor: pointer;
      @media only screen and (max-width: $breakpoint-sm-max) {
        font-size: 16px;
      }
    }
  }
  :global(.SingleDatePickerInput),
  :global(.SingleDatePicker) {
    display: block;
    input {
      cursor: pointer;
    }
    :global(.DateInput) {
      width: max-content;
      &:global(_input) {
        border-bottom: 0;
      }
    }
  }
  :global(.CalendarMonth_caption) {
    strong {
      font-weight: var(--font-weight-semibold);
    }
  }
  :global(.DateInput_fang) {
    display: none;
  }
  :global(.DateRangePicker_picker),
  :global(.SingleDatePicker_picker) {
    top: 68px !important;
    @include border-radius;
    @include box-shadow(0, 3px, 6px);
    @include animation('fadeInDown');
    animation: 'fadeInDown' 0.5s ease-in-out;
    -webkit-animation: 'fadeInDown' 0.5s ease-in-out;
    border: 1px solid var(--medium-purple);
    :global(.DayPicker__withBorder) {
      box-shadow: none;
    }
  }
  :global(.DateInput_input__focused) {
    border-color: var(--blue);
  }

  :global(.CalendarDay__selected),
  :global(.CalendarDay__selected:active),
  :global(.CalendarDay__selected:hover),
  :global(.CalendarDay__hovered_span:hover) {
    background: rgba(var(--blue), 0.1);
    border: 0;
    position: relative;
    z-index: 100;
    color: var(--white);
    @include border-radius(0 100px 100px 0);
    &::before {
      content: '';
      @include border-radius(100px);
      background: var(--blue);
      z-index: -1;
      height: 38px;
      width: 39px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  :global(.CalendarDay__selected_start) {
    @include border-radius(100px 0 0 100px);
    &:hover {
      @include border-radius(100px 0 0 100px);
    }
  }
  :global(.CalendarDay__default:not(.CalendarDay__selected):not(.CalendarDay__hovered_span):not(.CalendarDay__blocked_out_of_range):not(.CalendarDay__selected_span):hover) {
    background: rgba(var(--blue), 0.1);
    @include border-radius(100px);
  }
  :global(.CalendarDay__default),
  :global(.CalendarDay__blocked_out_of_range),
  :global(.CalendarDay__blocked_out_of_range:active),
  :global(.CalendarDay__blocked_out_of_range:hover) {
    border: 0;
    &:hover {
      border: 0;
    }
  }
  :global(.CalendarDay__selected_span),
  :global(.CalendarDay__hovered_span) {
    background: rgba(var(--blue), 0.1);
    color: var(--dark-purple);
  }
  .blur {
    :global(.DateRangePickerInput),
    :global(.SingleDatePickerInput) {
      border-color: var(--purple);
      // updated to match prototype design
      height: 40px;
    }
    :global(.SingleDatePickerInput) {
      :global(.DateInput_input__focused) {
        border: 0;
      }
    }
    :global(.DateRangePickerInput) input,
    :global(.SingleDatePickerInput) input {
      color: var(--dark-purple);
    }
    button {
      &:global(.DateRangePickerInput_calendarIcon):global(.DateRangePickerInput_calendarIcon_1),
      &:global(.SingleDatePickerInput_calendarIcon):global(.SingleDatePickerInput_calendarIcon_1) {
        svg path {
          fill: var(--dark-purple);
        }
      }
    }
  }
  .focus {
    :global(.DateRangePickerInput),
    :global(.SingleDatePickerInput) {
      border-color: var(--blue);
    }
    :global(.DateRangePickerInput) input,
    :global(.SingleDatePickerInput) input,
    input {
      color: var(--blue);
    }
    button {
      &:global(.DateRangePickerInput_calendarIcon):global(.DateRangePickerInput_calendarIcon_1),
      &:global(.SingleDatePickerInput_calendarIcon):global(.SingleDatePickerInput_calendarIcon_1) {
        svg path {
          fill: var(--blue);
        }
      }
    }
  }
  :global(.SingleDatePicker_picker) {
    :global(.CalendarDay__selected),
    :global(.CalendarDay__selected:active),
    :global(.CalendarDay__selected:hover) {
      background: none;
    }
  }
  :global(.CalendarDay__selected) {
    color: var(--white);
  }
  :global(.CalendarDay__selected_start.CalendarDay__selected_end) {
    @include border-radius(100px);
  }
}

// VETICAL STYLES
.datepicker.vertical {
  :global(.DateRangePicker_picker) {
    &::after {
      left: calc(var(--caretOffsetAfter));
    }
    &::before {
      left: calc(var(--caretOffsetBefore));
    }
  }

  :global(.DayPickerNavigation_container__vertical) {
    height: unset;
    display: flex;
    justify-content: space-between;
    top: 23px;
    bottom: unset;
    left: unset;
    background: unset;
    box-shadow: unset;
    :global(.DayPickerNavigation_button) {
      top: unset;
      width: unset;
    }
  }
}
:global(.DateRangePicker_picker.DateRangePicker_picker_1.DateRangePicker_picker__directionLeft.DateRangePicker_picker__directionLeft_2) {
  left: auto !important;
  right: 0;
}
:global(.SingleDatePickerInput),
:global(.SingleDatePicker) {
  display: block;
}
:global(.DateInput),
:global(.DateInput_input) {
  background: none;
}
:global(.SingleDatePickerInput) {
  :global(.DateInput.DateInput_1) {
    min-width: 100%;
  }
}
