.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid transparent;
  border-radius: 8px;

  position: relative;
  height: 36px;
  width: 42px;
}

.selected {
  border-color: var(--blue);
}

.tooltip {
  position: absolute;
  top: -10px;
  right: -10px;

  background-color: var(--white);
  color: var(--white);
  border-radius: 8px;
}

.tooltipIcon {
  background-color: var(--blue);
  border-radius: 100%;
  border: none;
}

.tooltip_heading {
  & span span {
    font-size: 12px;
    font-weight: var(--font-weight-bold);
    color: var(--dark-purple);
  }
  & :global span.header-with-underline:after {
    background: var(--light-purple);
  }
}

.flexSpaceBetween {
  display: flex;
  justify-content: space-between;
}

.marginTop8 {
  margin-top: 8px;
}

.fontPurple12 {
  font-size: 12px;
  color: var(--purple);
}

.fontDarkPurple {
  color: var(--dark-purple);
}
