@import '../../scss/base/variables';

.comparisonDateRanges {
  --cdr-first-range-color: var(--blue);
  --cdr-second-range-color: var(--orange);

  box-sizing: border-box;

  :global {
    .CalendarMonthGrid__horizontal {
      left: 0;
    }

    .DayPicker_weekHeaders__horizontal {
      margin-left: 0;
    }

    .DayPickerNavigation_button {
      padding: 0 8px;
      left: 0;
    }

    .CalendarDay__hovered_span:hover::before,
    .CalendarDay__selected:hover::before {
      width: 100%;
      height: 100%;
    }
    .DayPicker_weekHeader_1 {
      top: 48px;
    }
  }
  @media only screen and (max-width: $breakpoint-md) {
    input {
      font-size: var(--font-size-input);
    }
  }
}

.dateCircle {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-right: 4px;
}

.firstRangeCircle {
  background-color: var(--cdr-first-range-color);
}

.secondRangeCircle {
  background-color: var(--cdr-second-range-color);
}

.textInput {
  flex: 1 1 auto;
}

.fullSizeContainer:global.down {
  height: 319px;
  :global ul.dropdown {
    height: 319px; // the calculated height of the dropdown container for `Compare To` Select component
  }
  :global div.dropdown-options-container {
    max-height: unset;
  }
}

.flexCenter {
  display: flex;
  align-items: center;
}

.marginTop16 {
  margin-top: 16px;
}

.mDash {
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 20px;
}
