.sticky-header-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 72px;
  padding: 20px 0px 32px;
  @include prefix(position, sticky);
  position: -webkit-sticky;
  background: var(--white);
  background: var(--white-gradient-color);
  z-index: 9;
  h2 {
    margin: 0;
    &.gray {
      color: var(--purple);
    }
  }
  .sort-by-container {
    display: flex;
    justify-content: flex-end;
  }
}
