.container {
  padding: 4px 8px;
  background-color: var(--light-purple);
  font-size: var(--font-size-xxs);
  color: var(--purple);
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
}
