@import '../../scss/base/variables';
@import '../../scss/base/css_variables';

.container {
  min-width: 300px;
  display: flex;
  font-size: var(--font-size-xs);
  padding: 8px;

  @media screen and (max-width: $breakpoint-md) {
    min-width: unset;
  }
}

.divider {
  margin: 0 8px;
  color: var(--fc-medium-purple);

  @media screen and (max-width: $breakpoint-md) {
    display: none;
  }
}

.marginBottom {
  margin-bottom: 4px;
}

.gap {
  gap: 4px;
}

.semibold {
  font-weight: var(--font-weight-semibold);
}

.productTitle {
  font-size: var(--font-size-xs);
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: $breakpoint-md) {
    font-size: var(--font-size-xxs);
  }
}

.prefixContainer {
  display: flex;
  margin-right: 8px;

  @media screen and (max-width: $breakpoint-md) {
    flex-direction: column;
  }
}

.productDetailsContainer {
  display: flex;
  align-items: center;
  color: var(--purple);
  font-size: var(--font-size-xxs);

  @media screen and (max-width: $breakpoint-md) {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4px;
  }
}

.idSort {
  font-weight: var(--font-weight-semibold);
  color: var(--fc-dark-purple);
}

.id {
  color: var(--purple);
}

.marketplaceContainer {
  display: flex;
  align-items: center;

  @media screen and (max-width: $breakpoint-md) {
    gap: 8px;
  }
}

.marketplaceHover {
  color: var(--blue);
  display: flex;

  &:hover {
    color: var(---dark-blue);
  }
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 4px;
}
