.App {
  .sidebar-links {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-semibold);
    color: var(--purple);
    text-transform: uppercase;
    position: relative;
    @include transition(0.15s, all);
    display: block;
    &::before {
      width: calc(100% + 75px);
      @include transition(0.15s, opacity);
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: -72px;
      background: linear-gradient(
        90deg,
        var(--light-gray),
        var(--lighter-gray)
      );
      padding-left: 55px;
      z-index: -1;
      opacity: 0;
    }
    &:hover {
      color: var(--blue);
      .sidebar-link-icon {
        svg {
          circle,
          rect,
          path {
            fill: var(--blue);
          }
        }
      }
    }
    &.active {
      color: var(--dark-purple);
      font-weight: var(--font-weight-extra-bold);
      z-index: 1;
      &::before {
        opacity: 1;
      }
      .sidebar-link-icon {
        svg {
          circle,
          rect,
          path {
            fill: var(--dark-purple);
            stroke: var(--dark-purple);
          }
        }
      }
    }
    .sidebar-link-icon {
      svg {
        circle,
        rect,
        path {
          fill: var(--purple);
          stroke: none;
          @include transition;
        }
      }
    }
    .menu-item {
      display: flex;
      align-items: center;
      height: 48px;
      position: relative;
      @include transition;
      gap: 20px;
      .tag {
        position: absolute;
        top: 15px;
        right: -15px;
        height: 30px;
        padding: 0 15px;
        background: var(--purple);
        @include border-radius(100px);
        .sidebar-tag {
          display: none;
          @media only screen and (min-width: $breakpoint-lg) {
            display: block;
          }
        }
      }
      .menu-item-text {
        display: none;
        animation-duration: 0.3s;
      }
      .menu-item-text-container {
        overflow: hidden;
      }
    }
  }
}
