.App {
  .sidebar {
    &.banner-enabled {
      height: calc(100vh - 85px);
    }
    width: calc(100vw - 40px);
    padding: 0 20px;
    align-items: center;
    background: var(--lighter-gray);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    z-index: 999;
    @include transition;
    .sidebar-links-container {
      // TEMP
      display: none;
    }
    .sidebar-main-content {
      width: 100%;
    }
    @media only screen and (min-width: $breakpoint-md) {
      flex-direction: column;
      width: 32px;
      padding: 25px 40px 0 0;
      overflow: hidden;
      -ms-overflow-style: none; // IE 10+
      overflow: -moz-scrollbars-none; // Firefox
      &::-webkit-scrollbar {
        width: 0px; /* remove scrollbar space */
        background: transparent;
      }
      &.expanded {
        width: 192px;
        box-shadow: 5px 0px 5px rgba(var(--dark-purple), 0.2);
        .sidebar-links {
          padding-left: 4px;
        }
        .menu-item {
          .menu-item-text {
            display: block;
          }
        }
      }
      .sidebar-links-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        padding-left: 20px;
        position: relative;
      }
      .top-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 6px;
      }
      .sidebar-accent-background {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        background: var(--medium-purple);
        z-index: 10;
        width: 5px;
        height: 100vh;
      }
      .sidebar-active-bar {
        height: 48px;
        width: 5px;
        background: var(--dark-purple);
        position: absolute;
        @include transition(0.5s);
        @include border-radius(100px);
        left: 0;
        z-index: 99;
      }
    }

    &.mobile-sidebar-styling {
      @media only screen and (max-width: $breakpoint-sm-max) {
        // border color for the mobile UI header
        border: 1px solid var(--light-gray);
        background: var(--faint-gray);
      }
    }
  }
}

.top-border-bar {
  height: 5px;
  background: linear-gradient(to right, var(--purple), var(--dark-purple));
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
