@import '../../../../scss/base/mixins';

.tabContent {
  position: relative;
  width: 100%;
}

.tabsActiveBar {
  position: absolute;
  bottom: 0;
  background: var(--dark-purple);
  @include border-radius(100px);
  @include transition(0.5s);
}

.tabsBarBackground {
  height: 5px;
  width: 100%;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background: var(--medium-purple);
  position: relative;
  margin-bottom: 20px;
  &.tabsBarBackgroundSubtabs {
    background: rgba(0, 0, 0, 0);
    .tabsActiveBar {
      background: var(--purple);
      bottom: 3px;
    }
  }
}

.tabsList {
  display: flex;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: var(--font-size-xs);
  color: var(--purple);
  &.tabsListSubtabs {
    position: relative;
    left: 0;
    width: auto;
    bottom: 0;
    margin: 0;
    z-index: 1;
    .singleTab {
      font-size: var(--font-subtab);
      margin-bottom: 0%;
      top: 0px;
      left: 0;
      bottom: 0;
      right: 0;
      line-height: normal;
      &.active {
        &::before {
          color: var(--white);
          font-weight: var(--font-weight-semibold);
        }
        &.withPill {
          &::before {
            left: 10px;
            right: auto;
          }
        }
        .tabText {
          @include transition(0.2s);
        }
      }
      &.withPill {
        .tab {
          padding: 0 10px;
          display: flex;
          align-items: center;
          gap: 8px;
        }
      }
      .tab {
        padding: 8px 16px;
      }
    }
  }
  &.equalWidth {
    .singleTab {
      flex: 1;
      justify-content: center;
    }
  }
}

.singleTab {
  list-style: none;
  white-space: nowrap;
  position: relative;
  display: flex;
  margin-bottom: 0%;
  font-size: var(--font-size-xs);
  color: var(--purple);
  line-height: normal;
  font-weight: normal;
  &:hover {
    color: var(--blue);
  }
  &.active {
    .tabText {
      visibility: hidden;
      position: relative;
      z-index: 10;
    }
    &::before {
      font-weight: var(--font-weight-bold);
      color: var(--dark-purple);
      position: absolute;
      content: attr(data-text);
      top: 0px;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &.withPill {
      .tab {
        display: flex;
        align-items: center;
        gap: 4px;
      }
      &::before {
        left: 23px;
        right: auto;
      }
    }
  }
}

.tab {
  padding: 16px 24px;
  display: flex;
  align-items: center;
  gap: 4px;
}
