.breadcrumbs {
  display: flex;
  height: 20px;
  align-items: center;
  .breadcrumb {
    display: flex;
    font-size: 16px;
    align-items: center;
    @include transition;
    &:not(.last):hover {
      color: var(--blue);
    }
    &.breadcrumbs-dropdown {
      &:hover {
        color: inherit;
      }
    }
    .selected-text {
      font-size: 16px;
      color: var(--dark-purple);
    }
    .select-value .dropdown-options-container {
      min-width: 325px;
      li.has-secondary-value {
        grid-template-columns: 4px auto;
        grid-gap: 8px;
        &:first-child {
          grid-template-columns: auto;
          .dropdown-option-secondary-value {
            display: none;
          }
        }
        .dropdown-option-value {
          overflow: visible;
          text-overflow: initial;
          white-space: normal;
          line-height: 24px;
          padding: 4px 0;
        }
      }
      .dropdown-item {
        background: none !important;
        &:hover {
          background: var(--faint-gray) !important;
        }
        // add increments of 16px of padding to the left of each row
        $rows: 15;
        @for $i from 1 through $rows {
          &:nth-child(#{$i + 1}) {
            padding-left: (16 * $i) + px;
          }
        }
        .dropdown-option-secondary-value.before {
          border: 0;
          padding: 0;
          position: relative;
        }
        .l {
          width: 4px;
          height: 4px;
          position: absolute;
          top: 10px;
          svg {
            width: 4px;
            height: 4px;
            path {
              fill: var(--light-gray);
            }
          }
        }
      }
    }
  }
  .custom-h1 {
    font-size: 16px;
    margin: 0;
    line-height: 20px;
    .header-with-underline {
      padding-bottom: 3px;
      &::after {
        height: 2px;
      }
    }
  }
  .breadcrumb-arrow {
    margin: 0 10px;
    transform: rotate(90deg);
    width: 10px;
    polygon {
      fill: var(--dark-purple);
    }
  }
}
