@import '../../scss/base/mixins';

.iconStyles {
  display: flex;
  align-items: center;
  svg {
    width: var(--svg-width);
    height: var(--svg-height);
    path {
      fill: var(--dark-purple);
      opacity: 1;
    }
  }
  // Specific icon overrides
  &:global(.downCaret),
  &:global(.barCodeNo),
  &:global(.users) {
    svg path {
      fill: none;
    }
  }
  &:global(.barCodeNo),
  &:global(.users) {
    stroke: var(--dark-purple);
  }

  // SVG GENERATOR
  @mixin svgGenerate(
    $prefix,
    $properties,
    $values,
    $names: null,
    $sizeType: null
  ) {
    // Loop through all of the sizes(we use @for rather than @each, as we want access to the index)
    @for $i from 1 through length($values) {
      $size: nth($values, $i);
      $suffix: px;
      $name: $size;
      @if $sizeType != null {
        $suffix: $sizeType;
      }
      @if $names != null {
        $name: nth($names, $i);
      }
      // Create the rule
      &:global(.#{$prefix}-#{$name}) {
        svg {
          path,
          rect,
          circle {
            @each $prop in $properties {
              #{$prop}: #{$size}#{$suffix};
            }
          }
        }
      }
    }
  }

  @each $item in $bgColors {
    @include svgGenerate(svg, (fill), nth($item, 1), nth($item, 2), '');
  }
}
