/** As per the mockup design, used 7px height */
$bottom-bar-height: 7px;

.progressBottomBar {
  border-radius: $bottom-bar-height;
  width: 100%;
  height: $bottom-bar-height;
  position: relative;

  border: 1px solid var(--medium-purple);
  background-color: var(--white);
}

.progressBottomBarActive {
  border-radius: $bottom-bar-height;
  position: absolute;
  top: 0;
  left: 0;
  height: $bottom-bar-height;
  transition: width 0.25s ease-out;
  background-color: var(--blue);
}

.stepFontSize {
  font-size: var(--font-size-tag);
  margin-bottom: 10px;
}

.stepFontColor {
  color: var(--purple);
}
