@import '../../scss/base/variables';
@import '../../scss/base/css_variables';

.display {
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail {
  height: 40px;
  width: 40px;
  margin-right: 8px;
  @media screen and (max-width: $breakpoint-md) {
    height: 32px;
    width: 32px;
    margin-right: 4px;
  }
}

.iconColor svg path {
  fill: var(--medium-gray);
}
