.body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contentHeader {
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-semibold);
}

.contentBody {
  font-size: var(--font-size-xs);
  // This value comes from the design.
  line-height: 18px;
}

.buttons {
  padding: 16px;
  border-top: 1px solid var(--medium-purple);
  display: flex;
  justify-content: flex-end;
}

.reactourOverride {
  // These are override styles for reactour. We need the !important to override the styles.
  padding: 0 !important;
  max-width: 400px !important;
  min-width: 400px !important;
}
