.container {
  display: flex;
  gap: 16px;
  padding: 16px;
  // Give some space to the bottom of the color palette. Otherwise, the "Show Code" button, from Storybook, covers some of the content.
  margin-bottom: 100px;
}

.row {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 16px;
}
