.label {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-light);
  color: var(--purple);
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-grow: 1;
}

.active,
.error {
  font-weight: var(--font-weight-regular);
}

.active {
  color: var(--dark-purple);
}

.error {
  color: var(--red);
}

.labelContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.rightLabel {
  display: flex;
  justify-content: end;
  flex-grow: 1;
}

.requiredAsterisk {
  color: var(--red);
  margin-left: 2px;
}

.infoIcon svg path {
  fill: var(--blue);
}
